<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="./lib/underscore.js"></script> -->
    <script src="./lib/jquery-1.8.3.min.js"></script>
    <!-- <script src="./lib/lodash.js"></script> -->
    <title>template</title>
    <link rel="stylesheet" type="text/css" href="./style/index.css">
</head>

<body>
    <div class="market_content ">
        <ul id="test">
        </ul>
    </div>
    <script>
        document.documentElement.style.fontSize = 10 + 'px';
        var _ = function(obj) {
            if (obj instanceof _) return obj;
            if (!(this instanceof _)) return new _(obj);
            this._wrapped = obj;
        };

        var escaper = /\\|'|\r|\n|\u2028|\u2029/g;
        var noMatch = /(.)^/;
        var escapeChar = function(match) {
            return '\\' + escapes[match];
        };
        _.templateSettings = {
            evaluate: /<%([\s\S]+?)%>/g,
            interpolate: /<%=([\s\S]+?)%>/g,
            escape: /<%-([\s\S]+?)%>/g
        };
        _.isObject = function(obj) {
            var type = typeof obj;
            return type === 'function' || type === 'object' && !!obj;
        };
        _.allKeys = function(obj) {
            if (!_.isObject(obj)) return [];
            var keys = [];
            for (var key in obj) keys.push(key);
            // Ahem, IE < 9.
            return keys;
        };
        var createAssigner = function(keysFunc, undefinedOnly) {
            return function(obj) {
                var length = arguments.length;
                // 一个参数或者obj为空，直接返回obj
                if (length < 2 || obj == null) return obj;
                // 从第二个参数开始（第一个为dst，第二个以后都是src）
                for (var index = 1; index < length; index++) {
                    // 取出一个src
                    var source = arguments[index],
                        // 取出对应的keys。因为keysFunc，三个api中只是_.keys和_.allKeys
                        keys = keysFunc(source),
                        l = keys.length;
                    //src往dst里面拷贝
                    for (var i = 0; i < l; i++) {
                        var key = keys[i];
                        //拷贝条件
                        if (!undefinedOnly || obj[key] === void 0) obj[key] = source[key];
                    }
                }
                return obj;
            };
        };
        _.defaults = createAssigner(_.allKeys, true);

        // 这里我没有传入 settings 和 oldSettings
        _.template = function(text, settings, oldSettings) {

            console.log(settings); // 形式参数 设置了但是执行函数的时候 并没有传入相应的参数输出的就是undefined 
            console.log(!settings) // 对于undefined来说用!取反得到的是 true 这里是一个很好的例子,这个技巧在很多的地方都可以用

            // 如果 settings不存在,并且oldsettings存在 将oldsettings赋值给settings
            if (!settings && oldSettings) {
                settings = oldSettings;
            }
            // 使用default函数对于settings进行封装。
            // 认真认真的研究一下default函数的使用规则。
            // 如果不深究细节 settings 就是copy templateSetings 
            // templateSettings的 这个对象每一个key 对应的是一个正则对象。
            settings = _.defaults({}, settings, _.templateSettings);
            console.log(settings); // {evaluate: /<%([\s\S]+?)%>/g, interpolate: /<%=([\s\S]+?)%>/g, escape: /<%-([\s\S]+?)%>/g}


            // 这段js非常不好理解，学会了也是非常给力的。
            // 这里的正则表达式对象当做普通的函数使用,
            // 第一个参数是 String类型指定的正则表达式模式字符串。
            // 第二个参数是 可选/String类型指定的模式标志，可以为"g"、"i"、"m"之间的任意组合。
            // 这里使用的传入的第一个参数是数组使用join方法分割成指定的类型字符串 第二个参数是 模式标志
            // 这里的模式标志是 'g';
            // RegExp()函数的返回值是RegExp类型，返回一个新的RegExp对象。
            // 数组中的正则使用 source 方法:
            // JavaScript RegExp.source 属性详解:
            // source属性用于返回正则表达式模式的文本内容(不包括标志)。
            // 该属性是RegExp对象(实例)的一个只读属性，所有主流浏览器均支持该属性。

            console.log(settings.escape); //  /<%-([\s\S]+?)%>/g           
            console.log(typeof settings.escape); // object

            // console.log(settings.escape.source) // <%-([\s\S]+?)%>
            // console.log(settings.interpolate.source) // <%=([\s\S]+?)%>
            // console.log(settings.evaluate.source) // <%([\s\S]+?)%>

            var matcher = RegExp([
                (settings.escape || noMatch).source,
                (settings.interpolate || noMatch).source,
                (settings.evaluate || noMatch).source
            ].join('|') + '|$', 'g');

            // 下面这个数据是我模仿这个函数的实现过程,它非常有趣。
            // var arraystr = ['<%-([\\s\\S]+?)%>', '<%=([\\s\\S]+?)%>', '<%([\\s\\S]+?)%>'].join('|') + '|$';
            // console.log(arraystr); // <%-([\s\S]+?)%>|<%=([\s\S]+?)%>|<%([\s\S]+?)%>|$
            // console.log(RegExp(arraystr)) // /<%-([\s\S]+?)%>|<%=([\s\S]+?)%>|<%([\s\S]+?)%>|$/
            // console.log(RegExp(arraystr, 'g')) // /<%-([\s\S]+?)%>|<%=([\s\S]+?)%>|<%([\s\S]+?)%>|$/g


            console.log('匹配出来的matcher ' + matcher); // /<%-([\s\S]+?)%>|<%=([\s\S]+?)%>|<%([\s\S]+?)%>|$/g
            // Compile the template source, escaping string literals appropriately.
            var index = 0;
            var source = "__p+='";

            // string的replace方法 
            // stringObject.replace( search, replacement )
            // search  String/RegExp类型指定的正则表达式模式的RegExp对象的实例。也可以是字符串。
            // replacement String/Function类型用于替换的字符串，或返回替换字符串的函数。
            // 这里很显然是用的是 matcher是一个正则对象。replace第二个参数是一个函数
            // 反思一件事情，如果不是对于underscore函数做如此深入的理解 很难对于 string。replace
            // 方法做如此详尽的了解，也根本不可能在践行相关的理论————即不要永远只做低水平的重复。
            text.replace(matcher, function(match, escape, interpolate, evaluate, offset) {
                console.log('match ' + match); // <% for (var i = 0; i < count; i++) { %> <%=name%> <%=name%> <%=intro%>  <% } %>
                console.log('escape ' + escape);
                console.log('interpolate ' + interpolate);
                console.log('evaluate ' + evaluate);
                console.log('offset ' + offset);
                // console.log(text.slice(index, offset))
                source += text.slice(index, offset).replace(escaper, escapeChar);
                index = offset + match.length;

                if (escape) {
                    source += "'+\n((__t=(" + escape + "))==null?'':_.escape(__t))+\n'";
                } else if (interpolate) {
                    source += "'+\n((__t=(" + interpolate + "))==null?'':__t)+\n'";
                } else if (evaluate) {
                    source += "';\n" + evaluate + "\n__p+='";
                }

                // Adobe VMs need the match returned to produce the correct offest.
                return match;
            });
            source += "';\n";

            // If a variable is not specified, place data values in local scope.
            if (!settings.variable) source = 'with(obj||{}){\n' + source + '}\n';

            source = "var __t,__p='',__j=Array.prototype.join," +
                "print=function(){__p+=__j.call(arguments,'');};\n" +
                source + 'return __p;\n';

            try {
                var render = new Function(settings.variable || 'obj', '_', source);
            } catch (e) {
                e.source = source;
                throw e;
            }

            var template = function(data) {
                return render.call(this, data, _);
            };

            // Provide the compiled source as a convenience for precompilation.
            var argument = settings.variable || 'obj';
            template.source = 'function(' + argument + '){\n' + source + '}';

            return template;
        };
        var count = 3;
        var tmp =
            '<% for (var i = 0; i < count; i++) { %>' +
            '<li class="market_productList paipaidai_mk">' +
            '<div class="market_productList_logo">' +
            '<a href="javascript:;">' +
            '<img src="./images/ppdai_market.png" alt="<%=name%>">' +
            '</a>' +
            '</div>' +
            '<ul class="market_productList_detail">' +
            '<li class="market_intro">' +
            '<p class="market_intro_name"><%=name%></p>' +
            '<p class="market_intro_des"><%=intro%></p>' +
            '</li>' +
            '<li class="market_select">' +
            '<span></span>' +
            '</li>' +
            '</ul>' +
            '</li>' +
            '<% } %>';

        var temp = _.template(tmp)
        var str = temp({
            name: "拍拍贷",
            intro: "我们都是好孩子"
        });
        $("#test").append(str);
    </script>
</body>

</html>